@model AdminInformationModel
@{
    ViewData["Title"] = "UserInformation";
}

<div class="content-wrapper"
<!-- Page header -->
<div class="page-header">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><a asp-controller="Dashboard" asp-action="Index" asp-area="Admin" class="text-black-50"><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Dashboard</span></a></h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
            <a asp-controller="Admin" asp-action="Index" asp-area="Admin" class="btn btn-labeled btn-labeled-right bg-primary"><i class="icon-list mr-2"></i> <span class="font-weight-semibold">Admin List</span></a>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content pt-0">

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title text-primary">Admin Information</h5>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <tr>
                            @{
                                if (Model.ImageUrl == null)
                                {
                                    <td align="center">
                                        <img src="/ProfileImages/defaultPropic.jpg"
                                             class="rounded-circle"
                                             height="100" width="100"
                                             asp-append-version="true" />
                                    </td>
                                }
                                else
                                {
                                    <td align="center">
                                        <img src="/ProfileImages/@Model.ImageUrl"
                                             class="rounded-circle"
                                             height="150" width="150"
                                             asp-append-version="true" />
                                    </td>
                                }
                            }

                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h5>Full Name : </h5></td>
                            <td class="col-8 float-left"><h5>@Model.FullName</h5></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h5>Email : </h5></td>
                            <td class="col-8 float-left"><h5>@Model.Email</h5></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h5>Phone Number : </h5></td>
                            <td class="col-8 float-left"><h5>@Model.PhoneNumber</h5></td>
                        </tr>

                        <tr>
                            <td class="col-4 float-left"><h5>Gender : </h5></td>
                            <td class="col-8 float-left"><h5>@Model.Gender</h5></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h5>Address : </h5></td>
                            <td class="col-8 float-left">
                                <h5>@Model.Address</h5>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h5>Created at : </h5></td>
                            <td class="col-8 float-left">
                                <h5>@Model.Created</h5>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- /Content area -->
