@model CommentModel
@{
    ViewData["Title"] = "CommentInformation";
}

    <div class="content-wrapper"
<!-- Page header -->
<div class="page-header">
    <div class="page-header-content header-elements-md-inline">
        <div class="page-title d-flex">
            <h4><a asp-controller="Dashboard" asp-action="Index" asp-area="Admin" class="text-black-50"><i class="icon-arrow-left52 mr-2"></i> <span class="font-weight-semibold">Dashboard</span></a></h4>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none text-center text-md-left mb-3 mb-md-0">
            <a asp-controller="Blog" asp-action="Index" asp-area="Admin" class="btn btn-labeled btn-labeled-right bg-primary"><i class="icon-list mr-2"></i> <span class="font-weight-semibold">Blog List</span></a>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content pt-0">

    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title text-primary">Comment Information</h5>
        </div>

        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <table class="table">
                        <tr>
                            <td class="col-4 float-left"><h5>Name : </h5></td>
                            <td class="col-8 float-left"><h5>@Model.Name</h5></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h5>Email : </h5></td>
                            <td class="col-8 float-left"><h5>@Model.Email</h5></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h5>Comment : </h5></td>
                            <td class="col-8 float-left"><h5>@Model.Description</h5></td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h5>Commented at : </h5></td>
                            <td class="col-8 float-left">
                                <h5>@Model.CommentTime</h5>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-4 float-left"><h5>Approval Status : </h5></td>
                            <td class="col-8 float-left">
                                @{ 
                                    if(Model.IsAuthorized)
                                    { <h5>Approved</h5>}
                                    else
                                    { <h5>Not Approved</h5>}
                                }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="">
                <div class="d-flex justify-content-between">
                    <a asp-route-id="@Model.BlogPostId" asp-controller="Comment" asp-action="Index" asp-area="Admin" class="btn btn-light"><i class="icon-arrow-left52"></i> Back</a>
                </div>
            </div>
        </div>
    </div>

</div>



